<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../engine/Shopware/Components/Plugin/schema/config.xsd">

    <elements>
        <element type="boolean">
            <name>active_cart_save</name>
            <label lang="de">Aktiv?</label>
        </element>

        <element type="boolean">
            <name>use_voucher</name>
            <label lang="de">Beachte Gutscheine?</label>
        </element>

    </elements>

</config>